<div class="collection">
    <header class="collection-header">
        <h1>{{collectionNode.title}}</h1>
        {{#if collectionNode.description}}
            <p class="collection-description">{{collectionNode.description}}</p>
        {{/if}}
    </header>
    <ul class="collection-list">
        {{#each items}}
        <li class="collection-item">
            <h2 class="collection-item-title"><a href="./{{this.slug}}.html">{{this.frontmatter.title}}</a></h2>
            <p class="collection-item-date">{{formatDate this.frontmatter.date "MMMM D, YYYY"}}</p>
            {{#if this.frontmatter.summary}}
                <p class="collection-item-summary">{{this.frontmatter.summary}}</p>
            {{/if}}
        </li>
        {{/each}}
    </ul>
</div>