<article class="w-100">
    <h1 class="f1 fw8 mt0 mb3">{{contentFile.frontmatter.title}}</h1>
    {{#if contentFile.frontmatter.description}}
        <p class="lh-copy measure mb4">{{contentFile.frontmatter.description}}</p>
    {{/if}}

    <div class="item-loop">
        {{#each collectionItems}}
            {{!-- Use the `assign` helper to add a `url` property to this item's context --}}
            {{#assign this "url" (getUrlForNode this @root.options.isExport)}}
                {{!-- Now, the item layout template will have access to {{this.url}} --}}
                {{{render_layout_for_item this layout=@root.contentFile.frontmatter.collection.item_layout}}}
            {{/assign}}
        {{/each}}
    </div>

    <div class="pager-wrapper mt4">
        {{{pager pagination}}}
    </div>
</article>